doctype html
html
	head
		title Hello!
		link(rel="stylesheet", href="/styles/app.css")
	include _common/header.jade
	body
		h1 да данный момент верстать в джейде сложно, надо привыкнуть. Пока сверстала ДЗ2 без него.
		
