@import 'vars';

html {
	height: 100%;	
	overflow-y: scroll;
}
body {
	height: 100%;
	font: $light;
	color: $txt;
	margin:0px;
}

.text-hide{
	font: 0/0 a;
	text-shadow:none;
	color:transparent;
	background-color: transparent;
	border: 0;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	visibility: hidden;
	height: 0;
	clear: both;
}

a{
	color: $blue;
	&:hover{
		color:$purple;
	}
}


/*Шапка*/
.header{
	height: 119px;
	background: $header url(../img/header-bg.jpg) bottom center no-repeat;
	position: relative;
	margin-bottom: 40px;
}
.header-container {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.header__logo{
	float: left;
	margin-top: 25px;
}
.header__logo-link{
	text-decoration: none;
}

.header__contacts{
	float: right;
	width: 187px;
	margin-top: 20px;
	
}

.header__phone{
	text-decoration: none;
}

.header__phone-code {
	vertical-align: top;
	font-size: 16px;
	color: $blue;
	text-decoration: none;
	font: $bold;
}

.header__phone-number{
	font-size: 25px;
	color: rgba(27, 80, 95, 0.7);
}

.header__email{
	font-size: 18px;
	&:hover{
		color: $purple;
	}
}

/*Navigation*/
.navigation{
	max-width: 1000px;
	padding: 0px;
	margin: 0 auto;
	margin-top: -20px;
}
.nav-list{
	@include list;
}
.nav-list__item{
	position: relative;
	float: left;
	border-bottom:$border;
	border-top:$border;
	padding: 10px 8px 10px 30px;
	background-color: #F7F7F7;
	&:after,&:before{
		position: absolute;
		top: 50%;
		left: 100%;
		display: block;
		width: 0;
		height: 0;
		margin-top: -20px;
		content: ' ';
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
	}
	&:first-child{
		clip-path: polygon(100% 0,100% 50%,100% 100%,0 100%,10px 50%,0 0);
	}
	&:hover {
		background: #dce6f0;
	}
	&:hover:after {
		border-left-color: #dce6f0;
	}
}
.nav-list__item:before{
	z-index: 1;
	margin-left: 0;
	border-left: 15px solid #dde3ec;
}
.nav-list__item:after{
	z-index: 7;
	margin-left: -1px;
	border-left: 15px solid #f7f7f7;
}

.nav-list__item-link{
	font-size: 15px;
	text-decoration: none;
	color: $txt;
}

.nav-list__item--active,.nav-list__item--active:hover {
	background-color: $blue;
	color: #fff;
	&:after{
		border-left-color:$blue;
	}
}

/*Тело*/

.container{
	position: relative;
	width: 1000px;
	padding: 0px;
	margin: 0px auto;
}

.container__row{
	width: 1000px;
	margin-bottom: 18px;
}

/*Breadcrumbs*/
.breadcrumbs-list{
	@include list;
	float: left;
}

.breadcrumbs-list__item {
	position: relative;
	font-size: 14px;
	display: inline-block;
	padding-right: 10px;
}

.breadcrumbs-list__item:not(:last-child):after {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	content: '>';
	font-size: 11px;
}

/*Выбор вида каталога*/
.catalog-style{
	float:left;
	margin: -3px 10px 0px 600px;

}
.catalog-style__select {
    height: 26px;
    padding: 4px 68px 5px 7px;
    border: 1px solid #dae1eb;
    background: url(../img/select.png) right no-repeat;
    font-size: 14px;
    color: #5c7b98;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
/* IE 11 */
.catalog-style__select::-ms-expand {
    display: none;
}
.catalog-style__select-option {
    height: 30px;
    line-height: 30px;
}
.catalog-style__select-option--selected {
    color: $blue;
}


/*Пагинация*/
.pagination{
	float:right;
}

.pagination-list{
	@include list;
}

.pagination-list__item{
	position: relative;
	font-size: 14px;
	display: inline-block;
	padding-right: 3px;
	&:last-child {
		margin-right: 0;
	}
}

/*Сайдбар*/
.sidebar {
    width: 230px;
}
.sidebar_position_left {
    float: left;
}
.catalog-nav {
    background: #f7f7f7;
    @include list;
}

.catalog-nav__link {
    display: block;
    padding: 6px 20px;
    text-decoration: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dae1eb;
    font-size: 15px;
    color: #5c7b98;
}
.catalog-nav__link:hover {
    background: #bed1e3;
}
.catalog-nav__subnav_handler--active {
	background: $blue;
	color: #fff;
	transition: background 2s ease, color .1s ease;
		&:hover {
		background: #00b9fe;
		color: #fff;
	}
}

.catalog-nav__subnav {
    display: none;
    overflow: hidden;
    height: 0;
    padding-left: 15px;
    opacity: 0;
    @include list;
}
.catalog-nav__subnav_opened {
    height: auto;
    transition: opacity .7s ease;
    opacity: 1;
}
.catalog-nav__subnav-link {
    position: relative;
}
.catalog-nav__subnav-link:before {
    position: absolute;
    top: 8px;
    left: 5px;
    display: block;
    content: '>';
    font-family: $bold;
    font-size: 14px;
}

/*Контент*/
.content{
	width: 740px;
	float: right;
}
.products-list{
	@include list;
}

.products-list__item{
	border:$border;
	margin-bottom: 20px;
	&:hover{
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
}

.product{
	margin: 30px 30px 15px 30px;
}

.product__img-wrapper{
	float: left;
	display: inline-block;
}
.product__content{
		float: right;
		display: inline-block;
		width: 513px;
	}
.product__name{
	margin-bottom: 20px;
}
.content-description{
	margin-bottom: 80px;
}
.content-description__header{
	font:$bold;
	font-size:25px;
	margin-bottom: -8px;
}

.content-description__body{
	line-height: 20px;
}

/*Сетка*/
.grid .products-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.grid .products-list__item{
	float: left;
	width: 230px;
	min-height: 354px;
	border: 1px solid #dce3ec;
	margin-bottom: 20px;
	margin-left: 22px;
	&:hover {
		cursor: pointer;
		box-shadow: 1px 0px 13px 0px #c0c0c0;
	}
	&:nth-child(3n+1) {
		margin-left: 0;
		clear: left;
	}
}

.grid .product__img-wrapper {
	height: 170px;
	width: 160px;
	margin: 30px 0 10px 30px;
	overflow: hidden;

}

.grid .product__content{
	width: 200px;
}
.grid .product__name{
	text-decoration: underline;
	color: #00b9fe;
	width: 200px;
	margin-left: 20px;
}
.grid .product__descript{
	list-style-type: none;
	margin: 0 0 0 20px;
	padding: 0;

}

/*Вверх*/
.top{
	width:60px;
	background:$blue;
	text-align:center;
	padding:7px;
	position:absolute;
	bottom:55px;
	right:-90px;
	cursor:pointer;
	font:$bold;
	color:#FFF;
	&:before, &:after{
		content: '';
		display: inline-block;
		position: absolute;
		width: 0;
		height: 0;
		right: 33px;
		border-style: solid;
		border-width: 0 5px 5px;
	}
	&:before{
		bottom: 0;
		border-color: transparent transparent #fff;
	}
	&:after{
		top: -5px;
		border-color: transparent transparent $blue;
	}
}



/*Футeр*/
.footer{
	background: $purple url(../img/pattern.png);
}

.footer-container{
	width: 1000px;
	margin: 0px auto;
	padding: 60px 0px;
}

.footer__logo {
	float: left;
	margin-top: 40px;
}
.footer__logo-link {
	display: block;
	width: 139px;
	height: 39px;
	background: url(../img/logo-footer.png) center no-repeat;
}

.footer__right-block{
	width: 740px;
	float: right;
}

.footer-nav-wrapper{
	
	
}
.footer-nav{
	float:left;
	margin-right: 73px;
	font-size: 15px;
}
.footer-nav__header{
	margin-bottom: 7px;
	font:$bold;
	color:#fff;
}
.footer-nav__list{
	@include list;
}
.footer-nav__link{
	color: #fff;
	line-height: 25px;
}
.footer__extlinks{
	float: right;
	@include list;
	margin-top: 12px;
}
.apps-list{
	@include list;
}
.apps-list__item{
	display: inline-block;
}
.app {
	width: 90px;
	height: 32px;
	display: block;
}
.app_appstore{
	background:url(../img/app_appstore.png) center no-repeat;
}
.app_gplay{
	background:url(../img/app_gplay.png) center no-repeat;
}
.socials-list{
	@include list;
	margin-top: 29px;
}
.social{
	display: inline-block;
	float: left;
	width: 29px;
	height: 40px;
	padding-right: 20px;
}
.social_vk{
	background: url(../img/vk.png) center no-repeat;
}
.social_tw{
	background: url(../img/tw.png) center no-repeat;
}
.social_fb{
	background: url(../img/fb.png) center no-repeat;
}